apiVersion: 1
datasources:
  - name: Azure Data Explorer
    type: grafana-azure-data-explorer-datasource
    access: proxy
    url: ${kusto_fqdn}
    uid: "OBS360DataSource"
    jsonData:
      defaultDatabase: ${kusto_database}
      clientId: ${grafana_client_id}
      tenantId: ${tenant_id}
      clusterUrl: ${kusto_fqdn}
      dataConsistency: strongconsistency
    secureJsonData:
      clientSecret: ${grafana_client_secret}